body {
  background-image: url("../assets/background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

p {
  margin: 0;
}

.link-box {
  margin: 100px 0;
}
.link-box > .item {
  margin: 0 1em;
  list-style-type: none;
}
.link-box > .item > .link {
  opacity: 0.8;
}
.link-box > .item > .link:hover {
  opacity: 1;
}
.link-box > .item > .link > img {
  height: 200px;
}

@media (max-width: 1024px) {
  .img-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.link {
  opacity: 0.8;
}
.link:hover {
  opacity: 1;
}
.link > img {
  height: 250px;
  position: absolute;
}
@media (max-width: 1024px) {
  .link > img {
    height: 200px;
    position: relative;
  }
}
@media (max-width: 768px) {
  .link > img {
    height: 150px;
  }
}
.link > img.-img1 {
  height: 400px;
  top: 55%;
  left: 8%;
}
.link > img.-img2 {
  top: 50%;
  left: 40%;
}
.link > img.-img3 {
  height: 400px;
  left: 3%;
}
.link > img.-img4 {
  top: 2%;
  left: 58%;
}
.link > img.-img5 {
  top: 75%;
  left: 85%;
}
.link > img.-img6 {
  height: 400px;
  top: 12%;
  left: 45%;
}
.link > img.-img7 {
  height: 300px;
  top: 45%;
  left: 80%;
}
.link > img.-img8 {
  top: 60%;
  left: 70%;
}
.link > img.-img9 {
  top: 75%;
  left: 30%;
}
.link > img.-img10 {
  top: 5%;
  left: 20%;
}
.link > img.-img11 {
  top: 2%;
  left: 87%;
}
.link > img.-img12 {
  height: 300px;
  top: 35%;
  left: 25%;
}
.link > img.-img13 {
  top: 20%;
  left: 65%;
}

.modal-box {
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.modal-box > .button-close {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 2em;
  z-index: 4;
}
.modal-box > .button-close > .close {
  color: #fff;
  text-decoration: none;
}
.modal-box > .overlay {
  display: block;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
}

.lightbox-wrap {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 5%;
  max-width: 100%;
  max-height: 100%;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  overflow-x: hidden;
  line-height: 25px;
}
.lightbox-wrap.-story01 {
  text-align: center;
}
.lightbox-wrap.-story01 img {
  width: 100%;
}
@media (min-width: 768px) {
  .lightbox-wrap.-story01 img {
    width: 80%;
  }
}
@media (min-width: 1024px) {
  .lightbox-wrap.-story01 img {
    width: 60%;
  }
}
.lightbox-wrap.-story02,
.lightbox-wrap .-story05 {
  line-height: 30px;
}
.lightbox-wrap.-story07 {
  line-height: 32px;
}
.lightbox-wrap > .text {
  padding: 70px;
  font-size: 20px;
}
.lightbox-wrap > .text span {
  font-style: italic;
  float: right;
}
@media (min-width: 768px) {
  .lightbox-wrap > .text {
    padding: 100px 200px 100px 100px;
  }
}
@media (min-width: 1024px) {
  .lightbox-wrap > .text {
    padding: 100px 300px 100px 200px;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
    display: none;
  }
  100% {
    opacity: 1;
  }
}
@keyframes modalShow {
  0% {
    opacity: 0;
    display: block;
  }
  100% {
    opacity: 1;
  }
}
.modal-box:target {
  animation: fadein 0.1s 1;
  opacity: 1;
  display: block;
}
.modal-box:target > .lightbox-wrap {
  animation: modalShow 1s 1;
  opacity: 1;
  display: block;
}

.button-prev {
  position: absolute;
  z-index: 4;
  top: 50%;
  left: 30px;
  transform: translateX(-50%);
}
.button-prev > .arrow {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  border-top: 2px solid #000;
  border-left: 2px solid #000;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.button-next {
  position: absolute;
  z-index: 4;
  top: 50%;
  right: 30px;
  transform: translateX(-50%);
}
.button-next > .arrow {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  border-top: 2px solid #000;
  border-right: 2px solid #000;
  transform: translate(-50%, -50%) rotate(45deg);
}

/*# sourceMappingURL=styles.css.map */
